body {
  position: relative;

  .slides {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
    }

    .image-b {
      display: none;
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-size: cover;
  }
}

.selected {
  display: block!important;
}